body{
	margin: 0;
}
.menu ul{
	list-style: none;
}
.none-style{
	list-style: none;
}
.logo{
	
}
.logo_icon{
	float: left;
	height: 100px;
}
.menu{
	margin-top: 20px;
}
.menu ul {
	border-top:1px solid #bbb;
}
.menu ul li a{
	display: block;
}
.menu ul li{
	float: left;
	border-right:1px solid #bbb;
	padding: 15px 30px 10px 30px;
}
.clear{
	clear: both;
}
a{
	text-decoration: none;
}
.icon{
	height: 25px;
}
footer{
	background-color: #03a9f4;
}
.item_footer{
	float: left;
	width: 30%;
}
.item_footer ul{
	margin-left: -20px;
}
header{
	
}
main{
	padding: 40px 0px 20px 100px;	
}
.header_top{
	padding-left: 110px;
}
.phonenumber{
	color: blue;
}
.home{
	height: 65px;
	background: url("../images/logo_home.jpg") no-repeat;
	padding-top: 25px;
	padding-left: 70px;
}
.home a{
	color: black;
}
.social_network{
	margin-left: 170px;
	float: left;
}
.title_aside{
	font-weight: 100;
	background-color: #f1f1f1;
	padding: 10px 3px;
}
.title_aside span{
	float: right;
	font-size: 40px;
	margin-top: -18px;
}
.book_room{
	background-color: #f1f1f1;
}
.news{
	width: 28%;
	float: left;
	margin-left: 10px;
	border:1px solid #bbb;
	margin-bottom: 10px;
}
.img_news{
	width: 264px;
}
.news p{
	padding: 10px 10px 5px 10px;
	margin-bottom: 15px;
}
.news a{
	float: right;
}
form button{
	margin-left: 70px;
}
.footer_top{
	padding: 10px 20px 0px 100px;
	border-bottom:1px solid #bbb;
}
.footer_bottom{
	padding: 20px 0px 20px 100px;
}
.item_footer h4, .item_footer ul li a, .footer_bottom span{
	color: white;
};
aside{
	float: left; 
	width: 20%;
}
aside div ul li a{
	color: black;
}
aside div ul li{
	margin-bottom: 10px;
}
.header_top_right{
	float: right;
	margin-right:120px;
	margin-top: 40px;
}
.header_top_right img{
	height: 30px;
}
figcaption{
	text-align: center;
}